<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add product</title>
    <style>
      input {
        display: block;
      }
      a{
         text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li style="color: green;"><a href="/">Home</a></li>
       
        </ul>
      </nav>
    </header>
    <form action="/admin/add-product" method="POST">
      <input type="text" name="title" placeholder="name of product" />
      <input type="number" name="quantity" placeholder="quantity" />
      <button type="submit">Add product</button>
    </form>
  </body>
</html>
