doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title add orders
      link(rel="stylesheet", href="/css/main.css")
   body 
      header.main-header 
         nav.main-header__nav 
            ul.main-header__item-list
               li.main-header__item
                  a.active(href="/") Shop   
               li.main-header__item
                  a(href="/admin/add-product") Add Product  
               li.main-header__item
                  a(href="/order") Order Product     
   main
      .form-holder
         .form-holder-innerContainer
            form(name="product", action="/admin/add-product", method="POST")
               input.inp(type="text", name="title", placeholder="name of product")
               input.inp(type="number", name="quantity", placeholder="quantity")
               button.submitBtn(type="submit") Add product