<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a class="active" href="/">Home</a></li>
          <li class="main-header__item">
            <a href="/admin/add-product">Add product</a>
          </li>
          <li class="main-header__item"><a href="/order">Order product</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="order" method="POST">
        <input type="text" name="title" placeholder="name of product" />
        <input type="number" name="quantity" placeholder="quantity" />
        <input type="date" name="date" placeholder="date" />
        <input type="text" name="location" placeholder="Your location " />
        <button type="submit">Order now</button>
      </form>
    </main>
  </body>
</html>
