<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
    
      a{
         text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li style="color: green;"><a href="/">Home</a></li>
          <li><a href="/admin/add-product">Add product</a></li>
          <li><a href="/order">Order product</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>My products</h1>
      <p>List of all products ...</p>
    </main>
  </body>
</html>
