extends layouts/main-layout.pug 
block styles 
    link(rel="stylesheet", href="/css/main.css")
block content
         main
            .form-holder
               .form-holder-innerContainer
                  form(name="product", action="/admin/add-product", method="POST")
                     input.inp(type="text", name="title", placeholder="name of product")
                     input.inp(type="number", name="quantity", placeholder="quantity")
                     button.submitBtn(type="submit") Add product