extends layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/main.css")
block content      
   main 
     .form-holder
      .form-holder-innerContainer
         form(action="order", method="POST")
            input.inp(type="text", name="title", placeholder="name of product")
            input.inp(type="number", name="quantity", placeholder="quantity")
            input.inp(type="date", name="date", placeholder="date")
            input.inp(type="text", name="location", placeholder="Your location ")
            button.submitBtn(type="submit") Order now          